body {
    color: white;
    margin: 0;
    font-family: sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 200vh; */
}

.box {
    width: 50vw;
    height: 100%;
    border: none;
    background-color: inherit;
}

#slider {
    position: fixed;
    width: 25%;
    height: 35%;
    top: 4%;
    left: 36%;
}

.ring > svg {
    background-color: inherit;
}

.box>div {
    height: 100vh;
    width: 100%;
}

.left-content {

}

#box-left {
    background-color: #561DB9;
}

#box-right {
    background-color: #CCCCCE;
}

#organisation-info {
    position: fixed;
    bottom: 15%;
    left: 40px;
    width: 30vw;
    height: 30vh;
    color: white;
}

#organisation-info > div > div {
    position: fixed;
    bottom: 20%;
}

.organisation-info-body {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.organisation-info-remark {
    /* margin-top: 50px; */
    position: fixed!important;
    bottom: 10%!important;
    padding-top: 40px;
    box-sizing: border-box;
    /* margin-bottom: 100px; */
    display: flex;
    align-items: center;
    gap: 10px;
}

.organisation-info-remark > a {
    text-decoration: none;
    color: white;
}

.organisation-info-remark > img {
    position: relative;
    top: 3px;
    width: 1.4rem;
}

.first-organisation-award {
    display: flex;
    background-color: #C5A6E4;
    color: black;
    /* width: 70%; */
    padding: 2rem;
    border-radius: 0.6rem;
}
.first-organisation-award > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.last-organisation-award {
    display: flex;
    background-color: white;
    color: black;
    /* width: 60%; */
    padding: 2rem;
    border-radius: 0.6rem;
}
.last-organisation-award > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#skip-button {
    text-decoration: none;
    position: fixed;
    bottom: 8%;
    left: 43%;
    width: 70px;
    height: 30px;
    color: white;
    letter-spacing: 0.4rem;
}

#organisation-images {
    position: fixed;
}

@keyframes slide-up {
    0%{bottom:-50px}
    100%{top:5%;}
}

@keyframes slide-down {
    0%{top:-50px}
    100%{top:5%;}
}

#box-right img {
    height: 70vh;
    width: 20vw;
}

.right-content > img {
    position: fixed;
}

.right-content > img:first-child {
    animation: 500ms slide-up;
    left: 58%;
    top: 5%;
}

.right-content > img:nth-child(2) {
    animation: 500ms slide-down;
    right: 1%;
    top: 5%;
}
